@import "https://fonts.googleapis.com/css?family=Ubuntu:300, 400, 500, 700";

.section {
  width: 50%;
  border: solid 1px #000;
}

.App {
  text-align: center;
  color: #333;
  font-family: "Ubuntu", sans-serif;
}

.App-header {
  color: #fff;
  padding-top: 10vw;
  padding-bottom: 30vw;
  text-align: center;
}

.App-footer {
  background: #dddee1;
  padding: 5vh 0;
  text-align: center;
  position: relative;
}

.App-link {
  color: #61dafb;
}
